---
import { count } from '@/lib/sounds';

import '@/styles/global.css';

interface Props {
  description?: string;
  title?: string;
}

const title = Astro.props.title || 'Moodist: 有助于集中注意力和保持平静的环境声音';
const description =
  Astro.props.description ||
  `Moodist 是一款免费的白噪音生成器，具有 ${count()} 个精心挑选的声音。使用这款多功能工具，您可以创建理想的放松、专注或创意氛围。`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    <meta content="#18181b" name="theme-color" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />

    <title>{title}</title>
    <meta content={title} name="title" />
    <meta content={description} name="description" />

    <meta content={title} property="og:title" />
    <meta content={description} property="og:description" />
    <meta content="Moodist" property="og:site_name" />
    <meta content="https://moodist.cn" property="og:url" />
    <meta content="website" property="og:type" />
    <meta content="https://moodist.cn/og.png" property="og:image" />

    <meta content="summary_large_image" name="twitter:card" />
  </head>
  <body>
    <slot />
  </body>
</html>
